@import '../../styles/vars.scss';

@import '../../styles/vars.scss';

.modal_window {
  overflow-y: scroll;
  background-color: white;

  border-radius: 4px;
  box-shadow: 0 0 12px 0 rgba($color: #000000, $alpha: 0.1);

  margin: 40px 0;
  /* width */
  &::-webkit-scrollbar {
    width: 7px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: white;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: lighten($color: #707070, $amount: 20);
    border-radius: 4px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #707070;
  }
}

.modal_close {
  display: block;
  margin: 30px 30px 0 calc(100% - 55px);
  position: sticky;
  top: 30px;
  background-color: red;
  border: none;
  background-color: transparent;
  height: 20px;
  width: 20px;

  &::before {
    display: block;
    content: '';

    width: 2px;
    height: 25px;

    background-color: #707070;
    rotate: (45deg);

    position: absolute;
    top: -2px;
    left: 9px;
    z-index: 1;
  }

  &::after {
    display: block;
    content: '';

    width: 2px;
    height: 25px;

    background-color: #707070;
    rotate: (135deg);

    position: absolute;
    top: -2px;
    left: 9px;
    z-index: 1;
  }

  &:hover {
    &::before,
    &::after {
      background-color: $dark_text;
    }
  }
}

.product_modal {
  margin-top: 50px;
  padding: 0 135px 0 80px;
  width: 1000px;
  box-sizing: border-box;
}

.product_modal_inner {
  display: flex;
  align-items: center;
}

.product_modal_img_background {
  background-color: white;
  border: 1px solid #e4e4e4;
  border-radius: 4px;
  height: 322px;
  width: 422px;

  box-shadow: 0 4px 14px 0 rgba($color: #7979790d, $alpha: 0.06);
}

// .product_modal_img_background_inner {
//   margin: 10px;
//   height: calc(100% - 20px);
//   box-sizing: content-box;
//   background-color: #EDEEF0;
//   border-radius: 4px;

//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

.product_modal_img {
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  margin: 10px;
  box-sizing: border-box;
  border-radius: 4px;
  // max-width: 100%;
  object-fit: cover;
}

.product_modal_info {
  margin-left: 40px;
  font-family: 'Heebo';
  width: 40%;
}

.product_modal_name {
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  margin-bottom: 10px;
}

.product_modal_about {
  font-size: 15px;
  line-height: 22px;
  max-width: 288px;

  color: #707070;
}

.product_modal_price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 50px 25px 0;

  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  line-height: 26px;
  color: #373738;
}

.product_modal_price_value {
  font-size: 18px;
  font-weight: 700;
}

.product_value_change_btns {
  display: flex;
  align-items: center;
}

.changevalue_btn__minus {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;
  height: 26px;
  width: 26px;

  background-color: #dedee0;
  border-radius: 50%;
  border: none;

  &:hover {
    background-color: darken($color: #dedee0, $amount: 10);
  }

  &::before {
    content: '';
    display: block;

    height: 0px;
    width: 10px;
    border: 1px solid #707070;

    position: absolute;
    top: calc(50% - 1px);
    left: 7px;
    z-index: 1;
  }
}

.changevalue_btn__plus {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;
  height: 26px;
  width: 26px;

  background-color: #dedee0;
  border-radius: 50%;
  border: none;

  &:hover {
    background-color: darken($color: #dedee0, $amount: 10);
  }

  &::before {
    content: '';
    display: block;

    height: 0px;
    width: 10px;
    border: 1px solid #707070;

    position: absolute;
    top: calc(50% - 1px);
    left: 7px;
    z-index: 1;
  }

  &::after {
    content: '';
    display: block;

    height: 0px;
    width: 10px;
    border: 1px solid #707070;

    position: absolute;
    top: calc(50% - 1px);
    left: 7px;
    z-index: 1;
    rotate: (90deg);
  }
}

.item_value {
  margin: 0 10px;
}

.product_modal_summary {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.product_modal_summary_text {
  font-size: 15px;
  color: #707070;
  line-height: 22px;
}

.product_modal_summary_value {
  font-size: 18px;
  font-weight: 700;
  color: $dark_text;
  line-height: 22px;
}

.product_modal_btns {
  display: flex;
  justify-content: space-between;
  margin: 70px 0 90px;
}

.orange_btn {
  width: 28%;
  margin-left: 40px;

  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-family: 'Heebo';
  line-height: 24px;
  color: white;

  background-color: $orange;
  border: none;
  border-radius: 4px;

  transition: all 0.1s ease-in-out;
  &:hover {
    background-color: darken($color: $orange, $amount: 15);
    color: darken($color: white, $amount: 10);
  }
}

.white_btn {
  width: 28%;
  padding: 7px 0;

  text-decoration: none;
  font-family: 'Heebo';
  font-weight: 500;
  color: $orange;
  line-height: 24px;

  background-color: white;
  border: 2px solid $orange;
  border-radius: 4px;

  transition: all 0.1s ease-in-out;
  &:hover {
    background-color: darken($color: white, $amount: 15);
    color: darken($color: $orange, $amount: 20);
    border: 2px solid darken($color: $orange, $amount: 15);
  }
}
