@import '../../styles/vars.scss';

.category_item {
  position: relative;

  width: 36%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: #f9fafb;
  border: 1px solid #dedee0;
  border-radius: 5px;
  box-sizing: border-box;
}

.category_item__open {
  position: relative;

  width: 36%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: white;
  border: 1px solid #dedee0;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  box-sizing: border-box;
}

.category_inner {
  background-color: transparent;
  border: none;

  display: flex;
  align-items: center;

  height: 100%;
  width: 100%;
  padding: 0 0 0 10px;
}

.category_select {
  display: flex;

  background-color: transparent;
  border: none;
  padding: 0 0 0 10px;
  width: 100%;

  font-family: 'Heebo';
  font-size: 14px;
  color: #707070;
  text-wrap: nowrap;
}

.category_select__active {
  display: flex;

  background-color: transparent;
  border: none;
  padding: 0 0 0 10px;
  width: 100%;

  font-family: 'Heebo';
  font-size: 14px;
  font-weight: 500;
  color: $dark_text;
  text-wrap: nowrap;
}

.category_showdropdown_btn {
  position: relative;
  height: 100%;
  width: 50px;
  background-color: transparent;
  border: none;

  &::before {
    content: '';
    display: block;

    border-radius: 1px;
    height: 2px;
    width: 13px;
    background-color: #707070;

    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1;
    transform: rotate(45deg);
  }

  &::after {
    content: '';
    display: block;

    border-radius: 1px;
    height: 2px;
    width: 13px;
    background-color: #707070;

    position: absolute;
    top: 20px;
    right: 12px;
    z-index: 1;
    transform: rotate(-45deg);
  }
}

.category_clear_btn {
  position: relative;
  height: 100%;
  width: 50px;
  background-color: transparent;
  border: none;

  &::before {
    content: '';
    display: block;

    border-radius: 1px;
    height: 2px;
    width: 20px;
    background-color: #707070;

    position: absolute;
    top: 20px;
    right: 12px;
    z-index: 1;
    transform: rotate(45deg);

    transition: background-color 0.1s ease-in-out;
  }

  &::after {
    content: '';
    display: block;

    border-radius: 1px;
    height: 2px;
    width: 20px;
    background-color: #707070;

    position: absolute;
    top: 20px;
    right: 12px;
    z-index: 1;
    transform: rotate(-45deg);

    transition: background-color 0.1s ease-in-out;
  }

  &:hover {
    &::before,
    &::after {
      background-color: $dark_text;
    }
  }
}

.category_dropdown {
  position: absolute;
  z-index: 2;
  top: 41px;
  left: -0.8px;

  display: flex;
  flex-direction: column;

  width: 100%;
  padding: 7px 0 12px;

  background-color: white;
  border: 1px solid #dedee0;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.category_dropdown_item {
  background-color: transparent;
  border: none;

  display: flex;
  text-align: left;

  font-family: 'Heebo';
  font-size: 14px;
  color: #373738;

  line-height: 26px;
  padding: 5px 37px;
  cursor: pointer;

  &:hover {
    background-color: #f0f0f0;
  }
}
