@import '../../styles/vars.scss';

.cart_container {
  max-width: 984px;
  min-height: 900px;
  margin: 0 auto;

  background-color: white;
  border: 1px solid #e4e4e4;
}

.inner_container {
  padding: 70px 40px;
}

.cart_title {
  font-family: 'Heebo';
  font-size: 25px;
  margin-bottom: 35px;
}

.cart_inner {
  display: flex;
  justify-content: space-between;
}

.cart_list {
  width: 62%;
}

.empty_cart_list {
  flex-direction: column;
  justify-content: center;
  padding-top: 100px;
  margin: 0 auto;

  font-family: 'Heebo';
  font-weight: 500;
  font-size: 22px;
  color: $dark_text;
}

.cart_form {
  border-left: 1px solid #dedee0;
  padding-left: 35px;
  max-width: 250px;
}

.input {
  width: calc(100% - 32px);
  padding: 10px 15px;

  border-radius: 4px;
  border: 1px solid #e0e0e0;

  color: $dark_text;
}

.input_country {
  font-family: 'Heebo';
  color: $dark_text;

  width: calc(100% - 32px);
  height: 18.4px;
  padding: 10px 15px;

  border-radius: 4px;
  border: 1px solid #e0e0e0;

  cursor: pointer;
}

.input_country__active {
  color: $dark_text;
  font-family: 'Heebo';

  width: calc(100% - 32px);
  height: 18.4px;
  padding: 10px 15px;

  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border: 1px solid #e0e0e0;

  cursor: pointer;
}

.input_group {
  width: 100%;
  position: relative;
  margin-bottom: 25px;

  .placeholder {
    font-size: 16px;
    color: #707070;
    font-family: 'Heebo';

    padding: 0 10px;

    position: absolute;
    pointer-events: none;
    top: 30%;
    left: 8px;
    transition: all 0.1s ease;
  }

  .placeholder__active {
    font-family: 'Heebo';
    color: #707070;
    font-size: 12px;

    padding: 0 10px;

    position: absolute;
    pointer-events: none;
    background-color: white;
    top: -5px;
    left: 8px;
    transition: all 0.1s ease;
  }

  .input:focus ~ .placeholder,
  .input:not(:focus):valid ~ .placeholder {
    background-color: white;
    top: -5px;
    font-size: 12px;
  }
}

.cart_form_info {
  margin-top: 35px;

  display: grid;
  grid-template-columns: 2.5fr 1.5fr;

  font-size: 18px;
  font-family: 'Heebo';
}

.cart_form_info_text {
  color: #707070;
  line-height: 34px;
}

.cart_form_info_values {
  font-size: $dark_text;
  line-height: 34px;
  font-weight: 500;
}

.confirm_btn {
  margin: 40px 0 20px;

  width: 100%;

  line-height: 24px;
  padding: 6px 0;

  border: none;
  border-radius: 4px;
  background-color: $orange;
  color: white;

  font-family: 'Heebo';
  font-size: 14px;
  font-weight: 500;

  transition: background-color 0.1s ease-in-out;
  &:hover {
    background-color: darken($color: $orange, $amount: 15);
  }

  &:disabled {
    &:hover {
      background-color: $orange;
    }
  }
}

.continueshop_btn {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 6px 0;

  line-height: 24px;

  border: 1px solid $orange;
  border-radius: 4px;
  background-color: white;
  color: $orange;

  font-family: 'Heebo';
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;

  transition: all 0.1s ease-in-out;
  &:hover {
    background-color: darken($color: white, $amount: 20);
    color: darken($color: $orange, $amount: 20);
    border: 1px solid darken($color: $orange, $amount: 20);
  }
}

.dropdown_btn {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;

  height: 20px;
  width: 30px;
  padding: 0;
  background-color: transparent;
  border: none;

  &::before {
    content: '';
    display: block;

    border-radius: 1px;
    height: 2px;
    width: 10px;
    background-color: #707070;

    position: absolute;
    top: 8px;
    right: 6px;
    z-index: 1;
    transform: rotate(45deg);
  }

  &::after {
    content: '';
    display: block;

    border-radius: 1px;
    height: 2px;
    width: 10px;
    background-color: #707070;

    position: absolute;
    top: 8px;
    right: 0;
    z-index: 1;
    transform: rotate(-45deg);
  }
}

.dropdown {
  position: absolute;
  z-index: 2;

  width: calc(100% - 0.5px);
  max-height: 300px;
  overflow-y: scroll;

  box-sizing: border-box;
  padding: 7px 0 12px;

  background-color: white;
  border: 1px solid #dedee0;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  &::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: white;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: lighten($color: #707070, $amount: 20);
    border-radius: 4px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #707070;
  }
}

.dropdown_item {
  font-family: 'Heebo';
  font-size: 14px;
  color: #373738;

  line-height: 26px;
  padding: 5px 15px;
  cursor: pointer;

  &:hover {
    background-color: #f0f0f0;
  }
}
