@import '../../styles/vars.scss';

.header {
  background-color: #110F21;
  padding: 17px 160px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.options_icons {
  margin-right: 25px;
  background-color: transparent;
  border: none;

  transition: scale .15s ease-in-out;
}

.options_icons_img {
  transition: scale .15s ease-in-out;

  &:hover {
    scale: 1.3;
  }
}

.auth_btn__register {
  position: relative;
  padding: 0;
  margin: 0 16px;
  text-transform: uppercase;
  background: transparent;
  border: none;
  
  color: white;
  font-size: 12px;
  font-family: 'Heebo';
  
  transition: color .1s ease-in-out;

  &:hover {
    color: lighten($color: $gray, $amount: 30);
  }

  &::after {
    content: "";
    display: block;

    width: 2px;
    height: 13px;
    background-color: $orange;


    position: absolute;
    top: 2px;
    right: -17px;
    z-index: 1;
  }
}

.auth_btn__login {
  text-decoration: none;
  padding: 0;
  margin-left: 16px;
  text-transform: uppercase;
  background: transparent;
  border: none;
  
  color: white;
  font-size: 12px;
  font-family: 'Heebo';

  &:hover {
    color: lighten($color: $gray, $amount: 30);
  }
}
