@import '../../styles/vars.scss';

.container {
  max-width: 904px;
  min-height: 900px;
  margin: 0 auto;
  background-color: white;

  border: 1px solid #e4e4e4;
}

.container_inner {
  padding: 60px 0 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name_initials {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Heebo';
  font-size: 24px;

  width: 88px;
  height: 88px;
  background-color: #dedee0;
  border-radius: 50%;
}

.name {
  font-family: 'Heebo';
  font-size: 22px;

  margin: 15px 0 30px;
}

.account_menu {
  // padding: 0 100px;
  // width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  font-size: 16px;
  font-family: 'Heebo';
}

.account_menu_item {
  background-color: white;
  border: 1.3px solid #dedee0;
  width: 100%;
  padding: 25px 30px;
  text-wrap: nowrap;

  transition: background-color 0.1s ease-in-out;
  &:hover {
    background-color: #dedee0;
  }
}

.account_menu_item__active {
  position: relative;
  background-color: $orange;
  color: white;
  border: 1.3px solid #dedee0;

  width: 100%;
  padding: 25px 30px;
  text-wrap: nowrap;

  &::after {
    content: '';
    display: block;
    width: 20px;
    height: 20px;

    position: absolute;
    bottom: -11px;
    left: calc(50% - 10px);
    z-index: 1;
    rotate: (45deg);

    border-bottom: 1.3px solid #dedee0;
    border-right: 1.3px solid #dedee0;

    background-color: $orange;
  }
}
