@import '../../styles/vars.scss';

.item {
  text-align: left;
  text-decoration: none;
  padding: 4px;
  background-color: white;
  border: 1px solid #e4e4e4;
  border-radius: 5px;

  box-shadow: 0 4px 14px 0 rgba($color: #797979, $alpha: 0.06);
  cursor: pointer;
  overflow: hidden;
}

.item_inner {
  position: relative;
}

.item_like {
  position: absolute;
  bottom: -15px;
  right: 8px;
  z-index: 1;

  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  padding: 0;

  background-color: white;
  box-shadow: 0 2px 4px 0 rgba($color: #000000, $alpha: 0.16);

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  svg {
    font-size: 23px;
  }
}

.liked {
  color: $orange;
}

.like__hover {
  color: #707070;
}



.item_img {
  width: 100%;
  height: 147px;
  border-radius: 3px;
  object-fit: cover;
}

.item_name {
  font-family: 'Heebo';
  font-size: 15px;
  color: #373738;
  line-height: 23px;
  height: 46px;
  overflow: hidden;

  padding: 6px 8px 0;
}

.item_price {
  font-family: 'Heebo';
  font-size: 18px;
  font-weight: 700;
  color: $dark_text;
  line-height: 27px;

  padding: 0 8px;
}
