@import '../../styles/vars.scss';

.empty_product_list {
  width: 40%;
  margin: 0 auto;
  text-align: center;

  min-height: 450px;
  box-sizing: border-box;
  padding-top: 200px;
  font-family: 'Heebo';
}

.title {
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: #101010;

  margin-bottom: 10px;
}
.text {
  font-size: 15px;
  line-height: 22px;
  color: $dark_text;
}
